src/main/mule/demoapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2176babc-7682-45b6-a044-c1694db4e2d2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4a36aa23-85f7-4dda-be34-3d46dda5426f" >
		<db:my-sql-connection host="myfirstdb.cbher9wyjicl.ap-south-1.rds.amazonaws.com" port="3306" user="admin" password="Apisero2021" database="bookmyshow" />
	</db:config>
	<flow name="demoappFlow" doc:id="41c76dbc-5941-454b-850e-d53738f322ad" >
		<http:listener doc:name="Listener" doc:id="c5b25dd5-cdbd-4de6-9f39-be58306f4290" config-ref="HTTP_Listener_config" path="/demo"/>
		<db:select doc:name="Select" doc:id="11c584c9-39b2-42f1-af4e-6ca1bcaefd0a" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM movies;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6c825c7a-671d-4d32-92ea-700ed36b3455" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9e374832-e094-4b84-98e1-f1c58dcb2734" message="#[payload]"/>
	</flow>
</mule>
